/* include these fonts and background colors in the entire app  */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #27323a;
  margin: 0;
}

/* Login page login button */
#button{
  color: #27323a;
  
}
#button:hover{
  background-color: #a3f7bf;
  color: white;
}

#textHover:hover{
  color: #f7faff;
  background-color: transparent;
}

#formLabel{
  color: #eceff1;
}

h3{
  text-align: center;
  padding: 15px;
  color: #eceff1;
}

.textfeild{
  text-align: center;
  color: #eceff1;
  
}

/*435055-light grey 
a3f7bf-green
27323a-darker black
29a19c-blue
*/
